.valider-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.valider-button:hover {
    -fx-background-color: #328836;
}

.text-field {
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
}

.grid-pane {
    -fx-padding: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}